aiofiles==22.1.0
aiosqlite==0.19.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cmake==3.24.1.1
cmake-generators==1.0.9
colorama==0.4.4
comm==0.1.3
commonmark==0.9.1
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distro==1.7.0
docutils==0.18.1
executing==1.2.0
fastjsonschema==2.16.3
feedgenerator==2.0.0
fonttools==4.29.1
fqdn==1.5.1
future-fstrings==1.2.0
gcovr==5.2
gitdb==4.0.9
GitPython==3.1.27
h5py==3.8.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipykernel==6.22.0
ipython==8.12.1
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.0.3
joblib==1.3.1
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
kiwisolver==1.3.2
lxml==4.9.2
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==2.0.5
mpi4py==3.1.4
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.10.2.4
nose==1.3.7
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.22.2
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pelican==4.7.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkgutil_resolve_name==1.3.10
platformdirs==3.5.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.10.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyphen==0.13.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2021.3
PyYAML==6.0
pyzmq==25.0.2
requests==2.29.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==11.2.0
rodin @ file:///Users/carlos/Projects/rodin
scikit-build==0.15.0
scikit-learn==1.3.0
scipy==1.9.0
seaborn==0.12.2
Send2Trash==1.8.2
six==1.16.0
sklearn==0.0.post7
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
svn==1.0.1
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.1
traitlets==5.9.0
typing_extensions==4.5.0
Unidecode==1.3.2
uri-template==1.2.0
urllib3==1.26.15
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.15.0
